<h2 class="survey-area-title">All Surveys</h2>
{{#each surveys as |survey|}}

  <div class="survey" data-id="{{survey._id}}">

    <h4>{{limit survey.title 15}} </h4>
    <p>Question: {{survey.question}} </p>

    {{#if survey.taken}}
      {{#each survey.reducedResponses as |value key|}}
        <div class="chart-wrapper"><canvas id="bar-chart-{{survey._id}}" width="100%" height="40px"></canvas></div>
      {{/each}}

      {{else}}

    <form>
      <input type="radio" name="{{survey._id}}" value="{{survey.options.[0]}}"> {{survey.options.[0]}}
      <input type="radio" name="{{survey._id}}" value="{{survey.options.[1]}}"> {{survey.options.[1]}}
      <button type="submit" value="submit" class="btn btn-primary take-survey">Submit <i class="fas fa-paper-plane"></i></button>
    </form>
    {{/if}}

  </div>

{{/each}}
