{{#each surveys as |survey|}}

  <div class="survey" data-id="{{survey._id}}">
    <button type="submit" class="btn btn-danger delete-survey">Remove</button>
    
    <p>Title:</small> {{limit survey.title 15}} </p>
    <p>Question:</small> {{survey.question}} </p>

    <form>
      <input type="radio" name="{{survey._id}}" value="yes">Yes
      <input type="radio" name="{{survey._id}}" value="no"> No
      <button type="submit" value="submit" class="btn btn-primary take-survey">Submit</button>
    </form>

  </div>

{{/each}}
